<header>
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt="Medspeer Logo" style="width: 70px;" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navmenu">
          <a href="#" >
            <i class="fa fa-list-alt timeline-icon"></i> Timeline
          </a>
        </li>
        <li class="navmenu">
          <a href="#" >
            <i class="fa fa-pencil-square-o timeline-icon"></i> Create Article
          </a>
        </li>
        <li class="navmenu">
          <a href="#" >
            <i class="fa fa-book"></i> Contacts
          </a>
        </li>
        <li class="navmenu">
          <a href="#" >
            <i class="fa fa-files-o"></i> Articles
          </a>
        </li>
        <li class="navmenu">
          <a href="#" >
            <i class="fa fa-users timeline-icon"></i> Groups
          </a>
        </li>
        <li class="navmenu">
            <button class="btn btn-medspeer">
              <i class="fa fa-paper-plane timeline-icon"></i> Feedback
            </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
          <span class="input-group-addon" id="basic-addon1">all</span>
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>
</header>